<%= form_with(model: show, local: true) do |form| %>
  <% if show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :show_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :show_state %>
  </div>

  <div class="field">
    <%= form.label :venue %>
    <%= form.text_field :venue, id: :show_venue %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :show_date %>
  </div>

  <div class="field">
    <%= form.label :tickets %>
    <%= form.text_field :tickets, id: :show_tickets %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
