<div class="head">
	<%= link_to "Eka Boo Button", root_path, id: "logo" %>
	<div class="menu-bar">
		<%= link_to "Home", root_path %>
		<%= link_to "About", about_path %>
		<%= link_to "Shows", shows_path %>
		<%= link_to "Blogs", blogs_path %>
	</div>
	<div class="social-media">

	</div>
</div>